<div class="card shadow-custom mt-4">
    <div class="card-body pb-3">
        <div class="d-flex mb-1">
            <h4 class="card-title mb-0">{{ name }}</h4>
            <span class="ms-2 small mt-auto">{{ phone }}</span>
        </div>
        <p class="text-black-50 font-size-16 mb-2"><strong>{{ address }}</strong></p>
        <p class="mb-1 text-success">剩餘 {{ count }} 組</p>
        <p class="mb-0">{{ note }}</p>
    </div>
    <div class="card-footer">{{ updated }}</div>
</div>